.child-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.child-list:not(:first-child) {
    margin-top: 1em;
}

.operation-text {
    color: rgba(0, 0, 0, 0.6);
}

.apilist-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2em 4em;
    padding: 1em;
    border-radius: 5px;
}
.parent-list{
    min-width: 200px;
}