.child-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.child-list:not(:first-child) {
    margin-top: 1em;
}

.operation-text {
    color: rgba(0, 0, 0, 0.6);
}

.apilist-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 5px;
}
.parent-list{
    min-width: 200px;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 5px;
    padding: 0em 1em 1em 1em;
}